body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

@font-face {
  font-family: "Futura";
  src: local("Futura"),
    url(../fonts/Futura\ Condensed\ Medium.ttf) format("truetype");
}

@font-face {
  font-family: "FS Albert";
  src: local("FS Albert"), url(../fonts/FSAlbert-Regular.ttf) format("truetype");
}

h1,
h2,
h3 {
  font-family: "Futura";
  text-align: center;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
  margin-top: 0;
}

h3 {
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 50px;
}

p {
  font-family: "FS Albert";
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

.header-placeholder {
  height: 60px;
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 95%;
  padding: 10px;
}

.homepage-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-p {
  margin: 0;
}

.house-icon {
  width: 50px;
  margin: 10px;
}
