.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  transition: transform 0.4s;
}

.back-icon {
  width: 15px;
  margin: 10px;
}

.homepage-icon {
  width: 70px;
  margin: 10px;
}

.scroll-down {
  transform: translate3d(0, -100%, 0);
}

.scroll-up {
  transform: none;
}
